body{
    background-color:  #77cbff;
}
.container {
    
    background-color: #fff;
    padding: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100vh;
  
}

h2 {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px;
}

img{
    margin-left: 5vh;
    margin-top: 3vh;
    border-radius: 15px;
    width: 8%;
    height: 8%;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"],
button[type="button"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0;
    font-size: 14px;
}


