
body {
    height: 100%;
    background-color: rgb(183, 255, 231);
}

h3, h4{
    background-color: #ffff;
    margin: 2vh;
}

.header{
    width: 100%;
    margin-top: 0;
}

/* Agregue un color de fondo negro a la navegación superior */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
  }
  
  /* Dale estilo a los enlaces dentro de la barra de navegación */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Cambiar el color de los enlaces al pasar el mouse */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


.boton{
    background-color: #a8f6ef;
    width: 10vh;
    height: 5vh;
}

.boton:hover{
    background-color: rgb(82, 160, 194);
}

.contenido{
    min-height: 30vh;
}


#form-noticias{
    background-color: #fff;
    padding: 5vh;
    margin-top: 2vh;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100vh;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#noticias {
    background-image: linear-gradient(to bottom, rgb(78, 135, 248), rgb(42, 175, 232), rgb(191, 233, 237));
    text-align: center;
    padding-top: 2vh;
    width: 100%;
}

#noticias h1{
    color: azure;
    padding: 50px;
    font-size: 8vh;
}

#noticias h2 {
    color: #333;
    margin-bottom: 20px;
}

.noticia img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 2vh;
}

.noticia h4 {
    color: #555;
    margin: 10px 0;
    font-size: 30px;
    background-color: #ffff;
}

.noticia p {
    color: #777;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 3.5vh;
    padding: 0.5vh;
    font-size: 25px;
    text-align: justify;
}

.noticia img{
    width: 300px; /* Ancho deseado */
    height: 300px; /* Alto deseado */
}

textarea{
    
    width: 70%; 
    height: 60%; 
    padding: 8px; 
    border: 1px solid #292424;
    resize: vertical;
    
}
