*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

h1{font-size: 3,5cm;}
h2{ font-size: 2,7cm;}
h3{font-size: 2cm;}
p{font-size: 1,25cm;}

.contenedor{
    max-width: 1400px;
    margin: auto;
}

#IniciarSesion a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

#IniciarSesion a:hover {
    color: #ff6600;
}

header {
    background-color: #44d79c;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%; 
    z-index: 1000;
    overflow: hidden;
}

/* Estilos para el contenedor */
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el logo */
#logo img {
    width: 100px;
    height: 100px;
    margin: 15px;
    margin-left: 20px;
    margin-right: 50px;
}

/* Estilos para los enlaces de navegación */
.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    
}

.menu ul a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    text-align: right;
}

.menu ul a:hover {
    color: #ff6600;
}

.Institucion-foto{
    padding-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:  column;
    height:  95vh;
    color: whitesmoke;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.226),
        rgba(55, 49, 49, 0.685)
    ),url("img/escuela.jpg");
    background-size: cover;
    background-position: bottom;
    
}
#quienes-somos {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background: linear-gradient(to bottom, rgb(114, 102, 113), rgb(185, 99, 165), rgb(172, 10, 155));
    text-align: left;
    color: #f3f3f3;
}

#quienes-somos .contenedor {
    max-width: 1100px;
}

#quienes-somos h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:#333;
}

#quienes-somos p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 10px; /* Agregado espacio interno alrededor de los párrafos */
    border: 1px solid #ff6600; /* Agregado un borde para encuadrar los párrafos */
    border-radius: 8px; /* Redondeado de los bordes del encuadre */
}

#quienes-somos strong {
    font-weight: bold;
    color: #333;
}

/* Estilos para enlaces dentro de la sección */
#quienes-somos a {
    text-decoration: none;
    transition: color 0.3s;
}

/* #quienes-somos a:hover {
    color: #ff4500;
} */

#niveles-educativos{
    background-image: linear-gradient(to bottom, rgb(172, 10, 155), rgb(232, 42, 188), rgb(251, 109, 20));
    color: azure;
    text-align: center;
    height:  100vh;
    padding-top: 15vh;
}

#niveles-educativos .contenedor{
   padding: 100px 0px;

}
    
.nivel-inicial{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:  column;
    padding: 40px;
    margin: 20px;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.226),
        rgba(55, 49, 49, 0.685)
    ),url("img/inicial.png");
    background-size: cover;
    background-position: center;
}
.nivel-primario{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:  column;
    padding: 40px;
    margin: 20px;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.226),
        rgba(55, 49, 49, 0.685)
    ),url("img/primaria.png");
    background-size: cover;
    background-position: center;
}
.nivel-secundario{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:  column;
    padding: 40px;
    margin: 20px;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.226),
        rgba(55, 49, 49, 0.685)
    ),url("img/secundaria.png");
    background-size: cover;
    background-position: center;
}


#bienestar-estudiantil {
    padding-top: 25vh;
    padding-bottom: 25vh;
    background-color: #f9f9f9;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
}

#bienestar-estudiantil h2 {
    font-size: 36px; /* Aumenta el tamaño de la fuente del título */
    color: #333;
    margin-bottom: 30px; /* Aumenta el espacio inferior del título */
    
}

#bienestar-estudiantil p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px; /* Aumenta el espacio inferior del párrafo */
}

#bienestar-estudiantil ul {
    list-style: none;
}

#bienestar-estudiantil li {
    margin-bottom: 20px; /* Aumenta el espacio entre elementos de la lista */
    text-align: left;
    font-size: 16px;
    color: #777;
}

/* Estilos para los enlaces dentro de los elementos li */
#bienestar-estudiantil li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

#bienestar-estudiantil li a:hover {
    color: #ff6600;
}

/* Estilos para el contenedor */
.contenedorBE {
    max-width: 1200px;
    margin: 0 auto;
}


#instalaciones{
    background-image: linear-gradient(to bottom, rgb(251, 109, 20), rgb(255, 0, 0), rgb(0, 85, 255));
    text-align: center;
}
#instalaciones h1{
    color: azure;
    padding: 100px;
}

.Instalaciones-clase {
    display: flex;
    flex-wrap: wrap; /* Permite que las secciones se envuelvan a la siguiente línea si no caben en el ancho de la pantalla */
    justify-content: space-between; /* Distribuye el espacio entre las secciones */
    
    
}
.Instalaciones-clase h2 {
    position:relative;
    top: 300px;
    color: rgb(235, 235, 235);
}

.seccion1{
    width: 450px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.516),
        rgba(55, 49, 49, 0.685)
    ),url("img/natacion.jpg");
    background-size: cover;
    background-position: center;
}
.seccion2{
    width: 450px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.516),
        rgba(55, 49, 49, 0.685)
    ),url("img/futbol.jpg");
    background-size: cover;
    background-position: center;
}
.seccion3{
    width: 450px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.516),
        rgba(55, 49, 49, 0.685)
    ),url("img/Atletismo.jpg");
    background-size: cover;
    background-position: center;
}
.seccion4{
    width: 450px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.516),
        rgba(55, 49, 49, 0.685)
    ),url("img/Gimnasio.jpg");
    background-size:cover;
    background-position: center;
}
.seccion5{
    width: 450px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.516),
        rgba(55, 49, 49, 0.685)
    ),url("img/comedor.jpg");
    background-size: cover;
    background-position: center;
    
}
.seccion6{
    width: 450px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(55, 49, 49, 0.516),
        rgba(55, 49, 49, 0.685)
    ),url("img/Laboratorio-Computacion.jpg");
    background-size: cover;
    background-position: center;
}

.seccion1, .seccion2, .seccion3, .seccion4, .seccion5, .seccion6 {
    margin-bottom: 20px; /* Ajusta este valor según tus preferencias */
}
.seccion1, .seccion2, .seccion3, .seccion4, .seccion5, .seccion6 {
    padding: 20px; /* Ajusta este valor según tus preferencias */
}

#noticias {
    background-image: linear-gradient(to bottom, rgb(0, 85, 255), rgb(42, 175, 232), rgb(191, 233, 237));
    text-align: center;
    padding-top: 15vh;
}

#noticias h1{
    color: azure;
    padding: 50px;
    font-size: 8vh;
}

#noticias h2 {
    color: #333;
    margin-bottom: 20px;
}

.noticia img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 2vh;
}

.noticia h3 {
    color: #555;
    margin: 10px 0;
    font-size: 30px;
}

.noticia p {
    color: #777;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 3.5vh;
    padding: 0.5vh;
    font-size: 25px;
    text-align: justify;
}

.noticia img{
    width: 300px; /* Ancho deseado */
    height: 300px; /* Alto deseado */
}

/* Estilos para la sección de ubicación */
#ubicacion {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

#ubicacion h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#ubicacion hr {
    width: 50%;
    margin: 0 auto 20px;
    border-color: #333;
}

/* Estilos para el mapa (ajusta el tamaño según tus necesidades) */
#ubicacion iframe {
    border: none;
    width: 100%;
    max-width: 800px; /* Controla el ancho máximo del mapa */
    height: 450px;
    margin: 0 auto;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para el contenedor dentro de la sección y el footer */
.contenedor {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-left: 2vh;
    margin-right: 2vh;
}

footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.form{
    width:80%;
    height:440px;
    background:#fdf4f4;
    border-radius:8px;
    box-shadow:0 0 40px -10px #fd0101;
    margin: 6vh auto;
    margin-top: 50px;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;font-family:'Montserrat',sans-serif;
    position:relative
}

input{
    width:100%;
    padding:10px;box-sizing:border-box;
    background:none;outline:none;
    resize:none;border:0;
    font-family:'Montserrat',sans-serif;transition:all .3s;
    border-bottom:2px solid #bebed2
}

input:focus{
    border-bottom:2px solid #78788c
}

button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;transition:all .3s
}
button:hover{
    background:#78788c;
    color:#fff
}

.div-contact{
    content:'Hi';
    position:absolute;
    bottom:-2.5vh;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #f38989}
span{
    margin:0 5px 0 15px
}

.redes-sociales {
    margin: 50px;
    text-align: center;
}

.redes-sociales a {
    text-decoration: none;
    margin: 0 10px; 
    color: #333;
    font-size: 20px;
    transition: color 0.3s;
}

.redes-sociales a i {
    margin-right: 5px;
}

.redes-sociales a:hover {
    color: #ff6600;
}



